<tr>
	<td>
		<img class='span1 postImg' src='<%= imgurl %>' />
		<div class='span5'>
			<%= label %><br/>
			<a href='#' class='postLike'>Like it</a>
			<input type='text' class='postCommentBox' />
		</div>
		<div class='span1'><%= info %></div>
	</td>
</tr>
