<tr>
	<td>
		<img class='col-lg-2 postImg' src='<%= imgurl %>' />
		<div class='col-lg-8'>
			<%= label %><br/>
			<a href='#' class='postLike'>Like</a>
			<input type='text' class='postCommentBox' />
		</div>
		<div class='col-lg-2'><%= info %></div>
	</td>
</tr>
