<tr>
	<td>
		<div class='span5'><%= label %></div>
		<div class='span2'><%= info %></div>
		<div class='span8'>
			<a href='#' class='postLike'>Like it</a>
			<input type='text' class='postCommentBox' />
		</div>
	</td>
</tr>
