<tr>
	<td>
		<img class='postImg' src='<%= imgurl %>' />
		<div class='col-lg-5'>
			<%= label %><br/>
			<a href='#' class='postLike'>Like it</a>
			<input type='text' class='postCommentBox' />
		</div>
		<div><%= info %></div>
	</td>
</tr>
